page-detail {
  .capitalize {
    text-transform: capitalize;
  }

  img.center {
    display: block;
    margin: 0 auto;
  }

  .float-left {
    float: left;
  }

  .float-right {
    float: right;
  }
}